{% extends 'adminmaster.html' %}

{% block title %}
<title>Fitness</title>
{% endblock %}

{% block plans %}
                                <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Exercises</a>
                               <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="login.html">Weight Gain</a>
                                </li>
                                <li>
                                    <a href="register.html">Weight Loss</a>
                                </li>
                               </ul>
{% endblock %}

{% block name %}
                                <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/assets/images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                    <div class="content">
                                            <a class="js-acc-btn" href="#">Fitness</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/assets/images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Fitness</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                            </div>

{% endblock %}